<div class="inner-mobile-meniu-container">
	<div class="back">
		<a href="javascript: history.back(1)" id="backLink">
			<%= image_tag('login/triangle.png') %>
		</a>
	</div>
	<center><%= link_to image_tag('menu/logo.png'), {action: 'index', controller: 'welcome'} %></center>
</div>

<div class="inner-mobile-personal-info-container">
	<div class="mobile-personal-photo"><%= image_tag('avatar.png') %></div>
	<div class="mobile-personal-data pretty-scrollbar">
		<ul>
			<li>Vardas Pavarde</li>
			<li>Profesine mokykla</li>
			<li>Studijuojamas kursas</li>
			<li>Specialybe</li>
			<li>Tel numeris</li>
			<li>El. pastas</li>
			<li>Adresas</li>
		</ul>
	</div>
</div>

<div class="inner-tabs">
	<div class="tab-button student-tab-button">
		<center><h3>DARBAI</h3></center>
	</div>

	<div class="tab-button unactive school-tab-button" style="right: 10px">
		<center><h3>APRASYMAS</h3></center>
	</div>


	<div class="tabs student-tab-content">
		<div class="tab-body">
			
			<div class="mobile-row">
				<div class="foto-square-container">
					<%= image_tag('album.png') %>
				</div>				
				<span style="width: 10%;float: left; height: 100%;"></span>
				<div class="foto-square-container">
					<%= image_tag('album.png') %>
				</div>
			</div>			

			<div class="mobile-row">
				<div class="foto-square-container">
					<%= image_tag('album.png') %>
				</div>				
				<span style="width: 10%;float: left; height: 100%;"></span>
				<div class="foto-square-container">
					<%= image_tag('album.png') %>
				</div>
			</div>			

			<div class="mobile-row">
				<div class="foto-square-container">
					<%= image_tag('album.png') %>
				</div>				
				<span style="width: 10%;float: left; height: 100%;"></span>
				<div class="foto-square-container">
					<%= image_tag('album.png') %>
				</div>
			</div>			

			<div class="mobile-row">
				<div class="foto-square-container">
					<%= image_tag('album.png') %>
				</div>				
				<span style="width: 10%;float: left; height: 100%;"></span>
				<div class="foto-square-container">
					<%= image_tag('album.png') %>
				</div>
			</div>			

			<div class="mobile-row">
				<div class="foto-square-container">
					<%= image_tag('album.png') %>
				</div>				
				<span style="width: 10%;float: left; height: 100%;"></span>
				<div class="foto-square-container">
					<%= image_tag('album.png') %>
				</div>
			</div>			

			<div class="mobile-row">
				<div class="foto-square-container">
					<%= image_tag('album.png') %>
				</div>				
				<span style="width: 10%;float: left; height: 100%;"></span>
				<div class="foto-square-container">
					<%= image_tag('album.png') %>
				</div>
			</div>			

				
		</div>
	</div>

	<div class="tabs school-tab-content">
		<div class="tab-body">
			<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam elit purus, consectetur vitae dui at, blandit venenatis turpis. Aenean ac pellentesque dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus elit orci, elementum sit amet sollicitudin eu, porta non risus. Nunc euismod diam sit amet nisi rutrum ultrices. Donec mattis ante sapien. Proin eu tempor ligula. Nulla viverra, libero nec imperdiet pretium, leo risus porttitor orci, in aliquam nisi leo eget purus. Nam at consectetur mi. Etiam vitae augue suscipit, ullamcorper tellus nec, interdum elit.</h3>
		</div>
	</div>
</div>