<div class="inner-mobile-meniu-container">
	<div class="back">
		<a href="javascript: history.back(1)" id="backLink">
			<%= image_tag('login/triangle.png') %>
		</a>
	</div>
	<center><%= link_to image_tag('menu/logo.png'), {action: 'index', controller: 'welcome'} %></center>
</div>

<div class="inner-mobile-personal-info-container">
	<div class="mobile-personal-photo"><%= image_tag('school-icon.png') %></div>
	<div class="mobile-personal-data pretty-scrollbar">
		<ul>

			<li>Profesine mokykla</li>
			<li>Tel. numeris</li>
			<li>El. pastas</li>
			<li>Adresas</li>
			<li>Tinklapis</li>

		</ul>
	</div>
</div>

<div class="inner-tabs">
	<div class="tab-button student-tab-button">
		<center><h3>FOTOALBUMAS</h3></center>
	</div>

	<div class="tab-button unactive school-tab-button" style="right: 10px">
		<center><h3>STUDENTAI</h3></center>
	</div>


	<div class="tabs student-tab-content">
		<div class="tab-body">
			
			<div class="mobile-row">
				<div class="foto-square-container">
					<%= image_tag('album.png') %>
				</div>				
				<span style="width: 10%;float: left; height: 100%;"></span>
				<div class="foto-square-container">
					<%= image_tag('album.png') %>
				</div>
			</div>			

			<div class="mobile-row">
				<div class="foto-square-container">
					<%= image_tag('album.png') %>
				</div>				
				<span style="width: 10%;float: left; height: 100%;"></span>
				<div class="foto-square-container">
					<%= image_tag('album.png') %>
				</div>
			</div>			

			<div class="mobile-row">
				<div class="foto-square-container">
					<%= image_tag('album.png') %>
				</div>				
				<span style="width: 10%;float: left; height: 100%;"></span>
				<div class="foto-square-container">
					<%= image_tag('album.png') %>
				</div>
			</div>			

			<div class="mobile-row">
				<div class="foto-square-container">
					<%= image_tag('album.png') %>
				</div>				
				<span style="width: 10%;float: left; height: 100%;"></span>
				<div class="foto-square-container">
					<%= image_tag('album.png') %>
				</div>
			</div>			

			<div class="mobile-row">
				<div class="foto-square-container">
					<%= image_tag('album.png') %>
				</div>				
				<span style="width: 10%;float: left; height: 100%;"></span>
				<div class="foto-square-container">
					<%= image_tag('album.png') %>
				</div>
			</div>			

			<div class="mobile-row">
				<div class="foto-square-container">
					<%= image_tag('album.png') %>
				</div>				
				<span style="width: 10%;float: left; height: 100%;"></span>
				<div class="foto-square-container">
					<%= image_tag('album.png') %>
				</div>
			</div>			

				
		</div>
	</div>

	<div class="tabs school-tab-content">
		<div class="tab-body">
			
			<div class="mobile-row">
				<div class="mobile-square-container">
					<%= link_to image_tag('avatar.png'), user_path %>
				</div>
				<span style="width: 5%;float: left; height: 100%;"></span>
				<div class="mobile-square-container">
					<%= link_to image_tag('avatar.png'), user_path %>
				</div>
				<span style="width: 5%;float: left; height: 100%;"></span>
				<div class="mobile-square-container">
					<%= link_to image_tag('avatar.png'), user_path %>
				</div>
			</div>					

			<div class="mobile-row">
				<div class="mobile-square-container">
					<%= link_to image_tag('avatar.png'), user_path %>
				</div>
				<span style="width: 5%;float: left; height: 100%;"></span>
				<div class="mobile-square-container">
					<%= link_to image_tag('avatar.png'), user_path %>
				</div>
				<span style="width: 5%;float: left; height: 100%;"></span>
				<div class="mobile-square-container">
					<%= link_to image_tag('avatar.png'), user_path %>
				</div>
			</div>		

			<div class="mobile-row">
				<div class="mobile-square-container">
					<%= link_to image_tag('avatar.png'), user_path %>
				</div>
				<span style="width: 5%;float: left; height: 100%;"></span>
				<div class="mobile-square-container">
					<%= link_to image_tag('avatar.png'), user_path %>
				</div>
				<span style="width: 5%;float: left; height: 100%;"></span>
				<div class="mobile-square-container">
					<%= link_to image_tag('avatar.png'), user_path %>
				</div>
			</div>	

			<div class="mobile-row">
				<div class="mobile-square-container">
					<%= link_to image_tag('avatar.png'), user_path %>
				</div>
				<span style="width: 5%;float: left; height: 100%;"></span>
				<div class="mobile-square-container">
					<%= link_to image_tag('avatar.png'), user_path %>
				</div>
				<span style="width: 5%;float: left; height: 100%;"></span>
				<div class="mobile-square-container">
					<%= link_to image_tag('avatar.png'), user_path %>
				</div>
			</div>	

			<div class="mobile-row">
				<div class="mobile-square-container">
					<%= link_to image_tag('avatar.png'), user_path %>
				</div>
				<span style="width: 5%;float: left; height: 100%;"></span>
				<div class="mobile-square-container">
					<%= link_to image_tag('avatar.png'), user_path %>
				</div>
				<span style="width: 5%;float: left; height: 100%;"></span>
				<div class="mobile-square-container">
					<%= link_to image_tag('avatar.png'), user_path %>
				</div>
			</div>	

			<div class="mobile-row">
				<div class="mobile-square-container">
					<%= link_to image_tag('avatar.png'), user_path %>
				</div>
				<span style="width: 5%;float: left; height: 100%;"></span>
				<div class="mobile-square-container">
					<%= link_to image_tag('avatar.png'), user_path %>
				</div>
				<span style="width: 5%;float: left; height: 100%;"></span>
				<div class="mobile-square-container">
					<%= link_to image_tag('avatar.png'), user_path %>
				</div>
			</div>

			<div class="mobile-row">
				<div class="mobile-square-container">
					<%= link_to image_tag('avatar.png'), user_path %>
				</div>
				<span style="width: 5%;float: left; height: 100%;"></span>
				<div class="mobile-square-container">
					<%= link_to image_tag('avatar.png'), user_path %>
				</div>
				<span style="width: 5%;float: left; height: 100%;"></span>
				<div class="mobile-square-container">
					<%= link_to image_tag('avatar.png'), user_path %>
				</div>
			</div>		
					
		</div>
	</div>
</div>