<div class="submenu-container">
	<div class="submenu-elements">
		<ul>
			<li>
				<%= image_tag 'submenu/clothes.png', style: 'height: 35px; left: 33%;'%>
			</li>
			<li>
				<%= image_tag 'submenu/stroikes.png', style: 'height: 40px; left: 33%;' %>
			</li>
			<li>
				<%= image_tag 'submenu/hair.png', style: 'height: 40px; left: 37%;' %>
			</li>
			<li>
				<%= image_tag 'submenu/food.png', style: 'height: 45px; left: 37%;' %>
			</li>
			<li>
				<%= image_tag 'submenu/garden.png', style: 'height: 48px; left: 37%;' %>
			</li>
			<li>
				<%= image_tag 'submenu/mechanik.png', style: 'height: 43px; left: 37%;' %>
			</li>
		</ul>
	</div>
</div>
