<div class="outer-row">
	<div class="row">
		<div class="el-field">
			<div class="el-row">
				<div class="el-container">
					<div class="stars"><span class="star-number">10</span></div>
					<center><%= image_tag 'avatar.png' %></center>
				</div>
				<div class="el-container">
					<div class="stars"><span class="star-number">10</span></div>
					<center><%= image_tag 'avatar.png' %></center>
				</div>
				<div class="el-container">
					<div class="stars"><span class="star-number">10</span></div>
					<center><%= image_tag 'avatar.png' %></center>
				</div>
				<div class="el-container">
					<div class="stars"><span class="star-number">10</span></div>
					<center><%= image_tag 'avatar.png' %></center>
				</div>
				<div class="el-container">
					<div class="stars"><span class="star-number">10</span></div>
					<center><%= image_tag 'avatar.png' %></center>
				</div>
				<div class="el-container">
					<div class="stars"><span class="star-number">10</span></div>
					<center><%= image_tag 'avatar.png' %></center>
				</div>
			</div>

			<div class="el-row">
				<div class="el-container no-top-margin">
					<div class="stars"><span class="star-number">10</span></div>
					<center><%= image_tag 'avatar.png' %></center>
				</div>
				<div class="el-container no-top-margin">
					<div class="stars"><span class="star-number">10</span></div>
					<center><%= image_tag 'avatar.png' %></center>
				</div>
				<div class="el-container no-top-margin">
					<div class="stars"><span class="star-number">10</span></div>
					<center><%= image_tag 'avatar.png' %></center>
				</div>
				<div class="el-container no-top-margin">
					<div class="stars"><span class="star-number">10</span></div>
					<center><%= image_tag 'avatar.png' %></center>
				</div>
				<div class="el-container no-top-margin">
					<div class="stars"><span class="star-number">10</span></div>
					<center><%= image_tag 'avatar.png' %></center>
				</div>
				<div class="el-container no-top-margin">
					<div class="stars"><span class="star-number">10</span></div>
					<center><%= image_tag 'avatar.png' %></center>
				</div>
			</div>
		</div>
	</div>
	<div class="row schools-row">
		<div class="el-field">
			<div class="school-container">
				<div class="stars"><span class="star-number">10</span></div>
			</div>
			<div class="school-container">
				<div class="stars"><span class="star-number">10</span></div>
			</div>
			<div class="school-container">
				<div class="stars"><span class="star-number">10</span></div>
			</div>
			<div class="school-container">
				<div class="stars"><span class="star-number">10</span></div>
			</div>
		</div>
	</div>
</div>