<div class="outer-row">
	<div class="row">
		<div class="el-field">
			<div class="el-row">
				<div class="el-container" id="user-1">
					<div class="stars"><span class="star-number">5</span></div>
					<center><%= link_to image_tag('avatar.png'), user_path %></center>
					<div class="user-hover" id="user-popup-1">
						<div class="upper-block">
							<div class="user-avatar">
								<%= link_to image_tag('avatar.png'), user_path %>
							</div>
							<div class="user-info">
								<ul>
									<li style="padding-top: 0">Vardenis Pavardenis</li>
									<div class="hashtags">
										<li>Proftechnine mokykla...</li>
										<li>Suvirintojas</li>
										<li>Stalius</li>
									</div>
								</ul>
							</div>
						</div>
						<div class="hover-stars">
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
						</div>
					</div>
				</div>
				<div class="el-container" id="user-2">
					<div class="stars"><span class="star-number">5</span></div>
					<center><%= link_to image_tag('avatar.png'), user_path %></center>
					<div class="user-hover" id="user-popup-2">
						<div class="upper-block">
							<div class="user-avatar">
								<%= link_to image_tag('avatar.png'), user_path %>
							</div>
							<div class="user-info">
								<ul>
									<li style="padding-top: 0">Vardenis Pavardenis</li>
									<div class="hashtags">
										<li>Proftechnine mokykla...</li>
										<li>Suvirintojas</li>
										<li>Stalius</li>
									</div>
								</ul>
							</div>
						</div>
						<div class="hover-stars">
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
						</div>
					</div>
				</div>
				<div class="el-container" id="user-3">
					<div class="stars"><span class="star-number">4</span></div>
					<center><%= link_to image_tag('avatar.png'), user_path %></center>
					<div class="user-hover" id="user-popup-3">
						<div class="upper-block">
							<div class="user-avatar">
								<%= link_to image_tag('avatar.png'), user_path %>
							</div>
							<div class="user-info">
								<ul>
									<li style="padding-top: 0">Vardenis Pavardenis</li>
									<div class="hashtags">
										<li>Proftechnine mokykla...</li>
										<li>Suvirintojas</li>
										<li>Stalius</li>
									</div>
								</ul>
							</div>
						</div>
						<div class="hover-stars">
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
						</div>
					</div>
				</div>
				<div class="el-container" id="user-4">
					<div class="stars"><span class="star-number">4</span></div>
					<center><%= link_to image_tag('avatar.png'), user_path %></center>
					<div class="user-hover" id="user-popup-4">
						<div class="upper-block">
							<div class="user-avatar">
								<%= link_to image_tag('avatar.png'), user_path %>
							</div>
							<div class="user-info">
								<ul>
									<li style="padding-top: 0">Vardenis Pavardenis</li>
									<div class="hashtags">
										<li>Proftechnine mokykla...</li>
										<li>Suvirintojas</li>
										<li>Stalius</li>
									</div>
								</ul>
							</div>
						</div>
						<div class="hover-stars">
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
						</div>
					</div>
				</div>
				<div class="el-container" id="user-5">
					<div class="stars"><span class="star-number">3</span></div>
					<center><%= link_to image_tag('avatar.png'), user_path %></center>
					<div class="user-hover" id="user-popup-5">
						<div class="upper-block">
							<div class="user-avatar">
								<%= link_to image_tag('avatar.png'), user_path %>
							</div>
							<div class="user-info">
								<ul>
									<li style="padding-top: 0">Vardenis Pavardenis</li>
									<div class="hashtags">
										<li>Proftechnine mokykla...</li>
										<li>Suvirintojas</li>
										<li>Stalius</li>
									</div>
								</ul>
							</div>
						</div>
						<div class="hover-stars">
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
						</div>
					</div>
				</div>
				<div class="el-container" id="user-6">
					<div class="stars"><span class="star-number">3</span></div>
					<center><%= link_to image_tag('avatar.png'), user_path %></center>
					<div class="user-hover" id="user-popup-6">
						<div class="upper-block">
							<div class="user-avatar">
								<%= link_to image_tag('avatar.png'), user_path %>
							</div>
							<div class="user-info">
								<ul>
									<li style="padding-top: 0">Vardenis Pavardenis</li>
									<div class="hashtags">
										<li>Proftechnine mokykla...</li>
										<li>Suvirintojas</li>
										<li>Stalius</li>
									</div>
								</ul>
							</div>
						</div>
						<div class="hover-stars">
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
						</div>
					</div>
				</div>
			</div>

			<div class="el-row">
				<div class="el-container no-top-margin" id="user-7">
					<div class="stars"><span class="star-number">2</span></div>
					<center><%= link_to image_tag('avatar.png'), user_path %></center>
					<div class="user-hover" id="user-popup-7">
						<div class="upper-block">
							<div class="user-avatar">
								<%= link_to image_tag('avatar.png'), user_path %>
							</div>
							<div class="user-info">
								<ul>
									<li style="padding-top: 0">Vardene Pavardene</li>
									<div class="hashtags">
										<li>Profesine mokykla</li>
										<li>Siuvimas</li>
									</div>
								</ul>
							</div>
						</div>
						<div class="hover-stars">
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
						</div>
					</div>
				</div>
				<div class="el-container no-top-margin" id="user-8">
					<div class="stars"><span class="star-number">2</span></div>
					<center><%= link_to image_tag('avatar.png'), user_path %></center>
					<div class="user-hover" id="user-popup-8">
						<div class="upper-block">
							<div class="user-avatar">
								<%= link_to image_tag('avatar.png'), user_path %>
							</div>
							<div class="user-info">
								<ul>
									<li style="padding-top: 0">Vardene Pavardene</li>
									<div class="hashtags">
										<li>Profesine mokykla</li>
										<li>Siuvimas</li>
									</div>
								</ul>
							</div>
						</div>
						<div class="hover-stars">
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
						</div>
					</div>
				</div>
				<div class="el-container no-top-margin" id="user-9">
					<div class="stars"><span class="star-number">1</span></div>
					<center><%= link_to image_tag('avatar.png'), user_path %></center>
					<div class="user-hover" id="user-popup-9">
						<div class="upper-block">
							<div class="user-avatar">
								<%= link_to image_tag('avatar.png'), user_path %>
							</div>
							<div class="user-info">
								<ul>
									<li style="padding-top: 0">Vardene Pavardene</li>
									<div class="hashtags">
										<li>Profesine mokykla</li>
										<li>Siuvimas</li>
									</div>
								</ul>
							</div>
						</div>
						<div class="hover-stars">
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star.png' %>
						</div>
					</div>
				</div>
				<div class="el-container no-top-margin" id="user-10">
					<div class="stars"><span class="star-number">1</span></div>
					<center><%= link_to image_tag('avatar.png'), user_path %></center>
					<div class="user-hover" id="user-popup-10">
						<div class="upper-block">
							<div class="user-avatar">
								<%= link_to image_tag('avatar.png'), user_path %>
							</div>
							<div class="user-info">
								<ul>
									<li style="padding-top: 0">Vardene Pavardene</li>
									<div class="hashtags">
										<li>Profesine mokykla</li>
										<li>Siuvimas</li>
									</div>
								</ul>
							</div>
						</div>
						<div class="hover-stars">
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star.png' %>
						</div>
					</div>
				</div>
				<div class="el-container no-top-margin" id="user-11">
					<div class="stars zero-stars"><span class="star-number">0</span></div>
					<center><%= link_to image_tag('avatar.png'), user_path %></center>
					<div class="user-hover" id="user-popup-11">
						<div class="upper-block">
							<div class="user-avatar">
								<%= link_to image_tag('avatar.png'), user_path %>
							</div>
							<div class="user-info">
								<ul>
									<li style="padding-top: 0">Vardene Pavardene</li>
									<div class="hashtags">
										<li>Profesine mokykla</li>
										<li>Siuvimas</li>
									</div>
								</ul>
							</div>
						</div>
						<div class="hover-stars">
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
						</div>
					</div>
				</div>
				<div class="el-container no-top-margin" id="user-12">
					<div class="stars zero-stars"><span class="star-number">0</span></div>
					<center><%= link_to image_tag('avatar.png'), user_path %></center>
					<div class="user-hover" id="user-popup-12">
						<div class="upper-block">
							<div class="user-avatar">
								<%= link_to image_tag('avatar.png'), user_path %>
							</div>
							<div class="user-info">
								<ul>
									<li style="padding-top: 0">Vardene Pavardene</li>
									<div class="hashtags">
										<li>Profesine mokykla</li>
										<li>Siuvimas</li>
									</div>
								</ul>
							</div>
						</div>
						<div class="hover-stars">
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row schools-row">
		<div class="el-field">
			<div class="school-container" id="school-1">
				<div class="stars"><span class="star-number">5</span></div>
					<div class="school-hover" id="school-popup-1">
						<div class="upper-block">
							<div class="user-avatar">
								<%= image_tag 'school-icon.png' %>
							</div>
							<div class="user-info">
								<ul>
									<li style="padding-top: 0">Vilniaus turizmo ir prekybos verslo mokykla</li>
									<li>Didlaukio gatve</li>
									<div class="hashtags">
										<li>Kirpimas</li>
										<li>Konditerija</li>
										<li>Automechanika</li>
									</div>
								</ul>
							</div>
						</div>
						<div class="hover-stars">
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
						</div>
					</div>
			</div>
			<div class="school-container" id="school-2">
				<div class="stars"><span class="star-number">3</span></div>
					<div class="school-hover" id="school-popup-2">
						<div class="upper-block">
							<div class="user-avatar">
								<%= image_tag 'school-icon.png' %>
							</div>
							<div class="user-info">
								<ul>
									<li style="padding-top: 0">Vilniaus turizmo ir prekybos verslo mokykla</li>
									<li>Didlaukio gatve</li>
									<div class="hashtags">
										<li>Kirpimas</li>
										<li>Konditerija</li>
										<li>Automechanika</li>
									</div>
								</ul>
							</div>
						</div>
						<div class="hover-stars">
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
						</div>
					</div>
			</div>
			<div class="school-container" id="school-3">
				<div class="stars"><span class="star-number">1</span></div>
					<div class="school-hover" id="school-popup-3">
						<div class="upper-block">
							<div class="user-avatar">
								<%= image_tag 'school-icon.png' %>
							</div>
							<div class="user-info">
								<ul>
									<li style="padding-top: 0">Vilniaus turizmo ir prekybos verslo mokykla</li>
									<li>Didlaukio gatve</li>
									<div class="hashtags">
										<li>Kirpimas</li>
										<li>Konditerija</li>
										<li>Automechanika</li>
									</div>
								</ul>
							</div>
						</div>
						<div class="hover-stars">
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star.png' %>
						</div>
					</div>
			</div>
			<div class="school-container" id="school-4">
				<div class="stars zero-stars"><span class="star-number">0</span></div>
					<div class="school-hover" id="school-popup-4">
						<div class="upper-block">
							<div class="user-avatar">
								<%= image_tag 'school-icon.png' %>
							</div>
							<div class="user-info">
								<ul>
									<li style="padding-top: 0">Vilniaus turizmo ir prekybos verslo mokykla</li>
									<li>Didlaukio gatve</li>
									<div class="hashtags">
										<li>Kirpimas</li>
										<li>Konditerija</li>
										<li>Automechanika</li>
									</div>
								</ul>
							</div>
						</div>
						<div class="hover-stars">
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(function() {
	displayNoneUser();

  $('#user-1').hover(function() {$('#user-popup-1').css('display', 'block'); }, displayNoneUser );
  $('#user-2').hover(function() {$('#user-popup-2').css('display', 'block'); }, displayNoneUser );
  $('#user-3').hover(function() {$('#user-popup-3').css('display', 'block'); }, displayNoneUser );
  $('#user-4').hover(function() {$('#user-popup-4').css('display', 'block'); }, displayNoneUser );
  $('#user-5').hover(function() { displayBackvards($('#user-popup-5'), '-310px') }, displayNoneUser );
  $('#user-6').hover(function() { displayBackvards($('#user-popup-6'), '-310px') }, displayNoneUser );
  $('#user-7').hover(function() {$('#user-popup-7').css('display', 'block'); }, displayNoneUser );
  $('#user-8').hover(function() {$('#user-popup-8').css('display', 'block'); }, displayNoneUser );
  $('#user-9').hover(function() {$('#user-popup-9').css('display', 'block'); }, displayNoneUser );
  $('#user-10').hover(function() {$('#user-popup-10').css('display', 'block'); }, displayNoneUser );
  $('#user-11').hover(function() { displayBackvards($('#user-popup-11'), '-310px') }, displayNoneUser );
  $('#user-12').hover(function() { displayBackvards($('#user-popup-12'), '-310px') }, displayNoneUser );
  
  $('#school-1').hover(function() {$('#school-popup-1').css('display', 'block'); }, displayNoneSchool );
  $('#school-2').hover(function() {$('#school-popup-2').css('display', 'block'); }, displayNoneSchool );
  $('#school-3').hover(function() {$('#school-popup-3').css('display', 'block'); }, displayNoneSchool );
  $('#school-4').hover(function() { displayBackvards($('#school-popup-4'), '-240px') }, displayNoneSchool );

  function displayNoneUser(){
		$('#user-popup-1').css('display', 'none');
		$('#user-popup-2').css('display', 'none');
		$('#user-popup-3').css('display', 'none');
		$('#user-popup-4').css('display', 'none');
		$('#user-popup-5').css('display', 'none');
		$('#user-popup-6').css('display', 'none');
		$('#user-popup-7').css('display', 'none');
		$('#user-popup-8').css('display', 'none');
		$('#user-popup-9').css('display', 'none');
		$('#user-popup-10').css('display', 'none');
		$('#user-popup-11').css('display', 'none');
		$('#user-popup-12').css('display', 'none');
	};

	function displayNoneSchool(){
		$('#school-popup-1').css('display', 'none');
		$('#school-popup-2').css('display', 'none');
		$('#school-popup-3').css('display', 'none');
		$('#school-popup-4').css('display', 'none');
	};

	function displayBackvards(el, pix){
		el.css('display', 'block');
		el.css('left', pix);
	}
});
</script>