<div class="outer-row">
	<div class="row">
		<div class="el-field">
			<div class="el-row">
				<div class="el-container" id="user-1">
					<div class="stars"><span class="star-number">7</span></div>
					<center><%= image_tag 'avatar.png' %></center>
					<div class="user-hover" id="user-popup-1">
						<div class="upper-block">
							<div class="user-avatar">
								<%= image_tag 'avatar.png' %>
							</div>
							<div class="user-info">
								<ul>
									<li style="padding-top: 0">Vardenis Pavardenis</li>
									<div class="hashtags">
										<li>Proftechnine mokykla...</li>
										<li>Suvirintojas</li>
										<li>Stalius</li>
									</div>
								</ul>
							</div>
						</div>
						<div class="hover-stars">
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
						</div>
					</div>
				</div>
				<div class="el-container">
					<div class="stars"><span class="star-number">7</span></div>
					<center><%= image_tag 'avatar.png' %></center>
				</div>
				<div class="el-container">
					<div class="stars"><span class="star-number">7</span></div>
					<center><%= image_tag 'avatar.png' %></center>
				</div>
				<div class="el-container">
					<div class="stars"><span class="star-number">7</span></div>
					<center><%= image_tag 'avatar.png' %></center>
				</div>
				<div class="el-container">
					<div class="stars"><span class="star-number">7</span></div>
					<center><%= image_tag 'avatar.png' %></center>
				</div>
				<div class="el-container">
					<div class="stars"><span class="star-number">7</span></div>
					<center><%= image_tag 'avatar.png' %></center>
				</div>
			</div>

			<div class="el-row">
				<div class="el-container no-top-margin" id="user-2">
					<div class="stars"><span class="star-number">4</span></div>
					<center><%= image_tag 'avatar.png' %></center>
					<div class="user-hover" id="user-popup-2">
						<div class="upper-block">
							<div class="user-avatar">
								<%= image_tag 'avatar.png' %>
							</div>
							<div class="user-info">
								<ul>
									<li style="padding-top: 0">Vardene Pavardene</li>
									<div class="hashtags">
										<li>Profesine mokykla</li>
										<li>Siuvimas</li>
									</div>
								</ul>
							</div>
						</div>
						<div class="hover-stars">
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
						</div>
					</div>
				</div>
				<div class="el-container no-top-margin">
					<div class="stars"><span class="star-number">4</span></div>
					<center><%= image_tag 'avatar.png' %></center>
				</div>
				<div class="el-container no-top-margin">
					<div class="stars"><span class="star-number">3</span></div>
					<center><%= image_tag 'avatar.png' %></center>
				</div>
				<div class="el-container no-top-margin">
					<div class="stars"><span class="star-number">3</span></div>
					<center><%= image_tag 'avatar.png' %></center>
				</div>
				<div class="el-container no-top-margin">
					<div class="stars"><span class="star-number">2</span></div>
					<center><%= image_tag 'avatar.png' %></center>
				</div>
				<div class="el-container no-top-margin">
					<div class="stars"><span class="star-number">1</span></div>
					<center><%= image_tag 'avatar.png' %></center>
				</div>
			</div>
		</div>
	</div>
	<div class="row schools-row">
		<div class="el-field">
			<div class="school-container" id="school-1">
				<div class="stars"><span class="star-number">8</span></div>
					<div class="school-hover">
						<div class="upper-block">
							<div class="user-avatar">
								<%= image_tag 'school-icon.png' %>
							</div>
							<div class="user-info">
								<ul>
									<li style="padding-top: 0">Vilniaus turizmo ir prekybos verslo mokykla</li>
									<li>Didlaukio gatve</li>
									<div class="hashtags">
										<li>Kirpimas</li>
										<li>Konditerija</li>
										<li>Automechanika</li>
									</div>
								</ul>
							</div>
						</div>
						<div class="hover-stars">
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star-blank.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
							<%= image_tag 'star.png' %>
						</div>
					</div>
			</div>
			<div class="school-container">
				<div class="stars"><span class="star-number">7</span></div>
			</div>
			<div class="school-container">
				<div class="stars"><span class="star-number">7</span></div>
			</div>
			<div class="school-container">
				<div class="stars"><span class="star-number">6</span></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(function() {
  $('#user-1').hover(function() {
    $('#user-popup-1').css('display', 'block');
  }, function() {
    $('#user-popup-1').css('display', 'none');
  });

  $('#user-2').hover(function() {
    $('#user-popup-2').css('display', 'block');
  }, function() {
    $('#user-popup-2').css('display', 'none');
  });

  $('#school-1').hover(function() {
    $('.school-hover').css('display', 'block');
  }, function() {
    $('.school-hover').css('display', 'none');
  });
});
</script>