<!DOCTYPE html>
<html>
  <head>
    <title>Amato</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="main">
	  	<%= render 'partials/menu' %>
	  	<div class="container">
				<%= render 'partials/submenu' %>
	    	<%= yield %>
	    </div>
	  </div>
    <div class="main-mobile">
      <%= render 'partials/mobile_menu' %>
    </div>
  </body>
</html>

<script type="text/javascript">
$(function(){
  $('#my-profile').click(function(){
    $('#school-row').css('display', 'none');
    $('#student-row').css('display', 'none'); 
    $('#school-admin-row').css('display', 'block');
  });

  $('#log-off').click(function(){
    $('#school-admin-row').css('display', 'none');
    $('#school-row').css('display', 'block');
    $('#student-row').css('display', 'block'); 
  });
});
</script>