<!DOCTYPE html>
<html>
  <head>
    <title>Amato</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
  	<div class="main resolution-fix">
	  	<%= render 'partials/menu' %>
	  	<div class="container">
				<%= render 'partials/submenu' %>
	    	<%= yield %>
	    </div>
	  </div>
    <div class="main-mobile main-mobile-content index-mobile">
      <%= render 'partials/mobile_menu' %>
      <div class="mobile-body"> <%= yield %> </div>
    </div>

    <div class="main-mobile inner-mobile-pages">
      <div class="inner-user">
        <%= render 'partials/inner_mobile_menu' %>
      </div>
      <div class="inner-school">
        <%= render 'partials/inner_mobile_menu_school' %>
      </div>
    </div>
  </body>
</html>

<script type="text/javascript">
$(function(){
  if (($(window).width() + window.innerWidth-$(window).width()) <= 430) {

    if (document.location.pathname == '/user/index') {
      $('.inner-user').css('display', 'block');
      $('.inner-school').css('display', 'none');
    }    

    if (document.location.pathname == '/school/index') {
      $('.inner-user').css('display', 'none');
      $('.inner-school').css('display', 'block');
    }

    if (document.location.pathname == '/user/index' || document.location.pathname == '/school/index') {
      $('.inner-mobile-pages').css('display', 'block');
      $('.index-mobile').css('display', 'none');
    } else {
      $('.inner-mobile-pages').css('display', 'none');
      $('.index-mobile').css('display', 'block');
    }
  }

  $('#my-profile').click(function(){
    $('#school-row').css('display', 'none');
    $('#student-row').css('display', 'none'); 
    $('#school-admin-row').css('display', 'block');
  });

  $('#log-off').click(function(){
    $('#school-admin-row').css('display', 'none');
    $('#school-row').css('display', 'block');
    $('#student-row').css('display', 'block'); 
  });


  // TABS
  $('.student-tab-button, .school-tab-button').unbind('click');

  $('.student-tab-button').click(function(){
    if ($('.student-tab-button').hasClass('unactive')) {
      $('.student-tab-content').css('display', 'block');
      $('.student-tab-button').removeClass('unactive');
      $('.school-tab-content').css('display', 'none');
      $('.school-tab-button').addClass('unactive');
    } 
  });

  $('.school-tab-button').click(function(){
    if ($('.school-tab-button').hasClass('unactive')) {
      $('.school-tab-content').css('display', 'block');
      $('.school-tab-button').removeClass('unactive');
      $('.student-tab-content').css('display', 'none');
      $('.student-tab-button').addClass('unactive');
    } 
  });
});
</script>